
<div>
  <h2 style="margin-top: 20px; margin-left: 20px;">U.S SECURITIES AND</h2>
  <h2 style="margin-left: 20px;"> EXCHANGE COMMISSIONs</h2>
  <div class="image1">

    <img style="margin-top: -110px; margin-left: 260px; position: absolute;"  width="500px" height="130px" src="./content/images/U.S_security.jpg">
  </div>

<!--  ####################################################-->
<!--  <ng-template #mymodal let-activeModal>-->
<!--    <div class="modal-header">-->
<!--      <h4 class="modal-title"><strong>PayGov!</strong></h4>-->
<!--      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="modal-body">-->

<!--      <div class="d-flex justify-content-center" >-->
<!--        <div class="spinner-border" role="status" >-->
<!--          <span class="sr-only" id="loading"></span>-->
<!--        </div><br>-->
<!--        <p>Please wait...</p>-->
<!--      </div>-->

<!--      <p id="redirect" align="center">Redirecting.... {{timeLeft}} Seconds</p>-->

<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>-->
<!--        <button type="button" class="btn btn-outline-dark" (click)="save()" (click)="activeModal.close('Close click')">Pay</button>-->
<!--      </div>-->
<!--  ####################################################-->

  ************************************************************

  <button class="" (click)="open(mymodal1)">Open My Modal</button>
  <ng-template #mymodal1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title"><strong>Proceed Payment</strong></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border" role="status" >
          <span class="sr-only" id="loading"></span>
        </div><br>
        <p></p>
      </div>

      <p id="redirect" align="center">Redirecting.... {{timeLeft}} Seconds</p>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')" (click)="pauseTimer()">Cancel</button>
        <button (click)="Url2()" type="button" class="btn btn-outline-dark" >Proceed</button>
      </div>
    </div>
  </ng-template>
  **************************************************  ********************************************







  <div style="margin-left: 670px; margin-top: 200px;">
    <h1  style = "position: absolute; top:170px; left: 500px; font-size: 50px; letter-spacing: 1px;font-weight: bold; color:#162b48;"message-cy="registerTitle">Submit Payment</h1>
    <p style="position: absolute; left: 500px; top:235px;">To submit an SEC filing fee payment using ACH, credit or debit card, enter the below information and click NEXT you will then verify your
      CIK </p>
    <p style="position: absolute; left: 500px; top:255px;">and contact information before selecting a paymnet type and entering your payment information  </p>

    <div><p style="position: absolute; left: 500px; top:300px;">Please note:ACH payment take 1-3 business days before being reflected in EDGAR, credit and debit card transactions will appear in EDGAR in </p>
      <p style="position: absolute; left: 500px; top:320px;">[TBD] hours</p></div>



    <div class="box blue" style="position:absolute; left:500px; top:350px;" >
      <p style="position: absolute; left: 390px; font-size:26px; top: 23px;">Confirm information</p></div>


    <div class="box1 darkwhite" style="position:absolute; left:500px; top:430px;" >
      <p style="position: absolute; left: 190px; font-size:26px; top: 80px;">Your credentials and payment amount</p></div>

    <div style="position: absolute; top: 470px; left: 550px;">

      <p style="font-size: 16px;">please review the information below, then click PROCEED TO PAYMENT. Return to the previous screen by clicking BACK</p>

      <p  style="position: absolute; left: 140px; font-size:26px; top: 440px;">Your contact information </p>
    </div>
    <div style="position: absolute;top: 570px;" >

      <b><p style="font-weight: bold">CIK</p></b>
      {{message[0]}}
      <br>
      <b><p style="left: 300px; font-weight: bold">CCC</p></b>
      {{message[1]}}

      <br>
      <br>
      <b><p style="font-weight: bold">Compnay Name</p></b>
      <br>

      <b><p>Date of last payment</p></b>

      <br>

      <b><p style="font-weight: bold">Payment Amount</p></b>
      {{message[2]}}


      <div style="position: absolute; top: 370px;">





        <b><p style="font-weight: bold">Name</p>
        {{message[3]}}
        <br>
        </b>
        <br>


        <b><p style="font-weight: bold">Email</p></b>
        {{message[4]}}
        <br>
        <br>

        <b><p style="font-weight: bold">Phone</p></b>
        {{message[5]}}
        <br>
        <br>

        <button class="btn btn-info">Back</button>
        <button (click)="open(mymodal1)"(click)="startTimer()" style="margin-left: 110px; margin-top: -62px; white-space: nowrap"  class="btn btn-info">Proceed to payment</button>

    </div>
</div>

</div>
</div>
